@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#c9dae2, #a9b2c1);
  color: #0e141e;
  min-height: 100vh;
}

#demo {
  width: 30rem;
  margin: 5rem auto;
  display: flex;
  gap: 6rem;
  align-items: center;
}
/* pretty much done with this course now i need to get to building projects like real usefull projects --- from ground up */
/* building an -  */

/* backend */
/* we also need to learn a bit of that how much backend i need to know really depends on project am making */
/* be very do i need to pick up a cource to learn like what is there in the backend in the first place */
/* where do i even need backend  */
/* where do i deploy this thing  */
/* PROUCTION DEPLOYMENT */
/* .env */
/* PROJECT NUMBER ONE -- ai hierarchy calcualor */
/* project goes like this */
/* full as login and profile page which is also stored  */
/* we have a good landing page */
/* landing page using -  */
/*  */
/* middle ware deployment  */
/* node.sj*/

#box {
  width: 7rem;
  height: 7rem;
  background-color: #4c00ff;
  border-radius: 8px;
}

#inputs label {
  display: block;
  margin-bottom: 0.25rem;
  font: inherit;
  font-weight: bold;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #5e6c73;
}

#inputs input {
  font: inherit;
  font-size: 1.5rem;
  background-color: #a3b3bb;
  border: 1px solid #3b484f;
  padding: 0.5rem;
  border-radius: 6px;
}


/* backend cource  */
    /* authntication */
    /* deployment */
    /* produciton ready shit */
  
/* PROJECT */
  /* LIVE CHAT MANAGER  */ 
  /* stop spam  */

/* what is next for me interms of that isn't it */
/* so will use this poject - yes i will so i */


